
@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/employee_Layout.cshtml";
}

<h2>AddEmployee</h2>
<form method="post">
    @Html.Partial("~/Views/Employee/parsial/employeeview.cshtml")


</form>

