
@{
    ViewBag.Title = "UserList";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@model List<DTO.UserDTO>


<section class="content-header">
    <h1>User List</h1>
    <ol class="breadcrumb float-sm-left">

        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>User</a></li>
        <li class="breadcrumb-item"><a>User List</a></li>
    </ol>
</section>
<div class="card-footer">
    <a href="~/Admin/User/AddUser">Add User</a>

</div>




<div class="card">
    <div class="card-header">
        <h3 class="card-title">User List</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>SureName</th>
                    <th>UserName</th>
                    <th>Image</th>
                    <th>Update</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.Name</td>
                        <td>@item.SureName</td>
                        <td>@item.UserName</td>
                        <td><img src="~/Areas/Admin/content/UserImage/" width="20" hight="20" /></td>
                        <td><a href="/Admin/User/UpdateUser/@item.ID">Update</a></td>
                        <td><a>Delete</a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>SureName</th>
                    <th>UserName</th>
                    <th>Image</th>
                    <th>Update</th>
                    <th>Delete</th>

                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
    <!-- /.card -->
</div>






