
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/product_Layout.cshtml";
}

<h2>AddProduct</h2>

<form method="post">
    @Html.Partial("~/Views/Product/partial/productview.cshtml")


</form>

