
@{
    ViewBag.Title = "AddMaterial";
    Layout = "~/Views/Shared/material_Layout.cshtml";
}

<h2>AddMaterial</h2>


@using (Html.BeginForm("AddMaterial", "Material", FormMethod.Post, new { @enctype = "multipart/form.data" }))
{
    @Html.Partial("~/Views/Material/parsial/materialview.cshtml")


}