
@{
    ViewBag.Title = "AddMechines";
    Layout = "~/Views/Shared/mechine_Layout.cshtml";
}

<h2>AddMechines</h2>
<form method="post">
    @Html.Partial("~/Views/Mechine/parsial/mechineview.cshtml")


</form>

