
@{
    ViewBag.Title = "AddWorkInProcess";
    Layout = "~/Views/Shared/workinprogress_Layout.cshtml";
}

<h2>AddWorkInProcess</h2>

<form method="post">
    @Html.Partial("~/Views/WorkInProcess/partial/workinprogress.cshtml")
</form>