
@{
    ViewBag.Title = "SocialLogList";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@model List<DTO.SocialLogDTO>


<section class="content-header">
    <h1>Social Log List</h1>
    <ol class="breadcrumb float-sm-left">

        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Social Log</a></li>
        <li class="breadcrumb-item"><a>Social Log List</a></li>
    </ol>
</section>
<div class="card-footer">
    <a href="~/Admin/SocialLog/AddSocialLog">Add Social Log</a>

</div>




<div class="card">
    <div class="card-header">
        <h3 class="card-title">social Log  List</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Link</th>
                    <th>Image</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.Name</td>
                        <td>@item.Link</td>
                        <td><img src="~/Areas/Admin/content/socialmediaimagess/@item.ImagePath" width="20" hight="20"/></td>
                        <td><a href="/Admin/SocialLog/UpdateSocialLog/@item.ID">Update</a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Link</th>
                    <th>Image</th>
                    <th>Update</th>

                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
    <!-- /.card -->
    <div />




    </div>

