
@{
    ViewBag.Title = "UpdateMata_HRE";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<section class="content-header">

    <h1>Update Meta operation</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Tea manufacturing</a></li>
        <li class="breadcrumb-item"><a>HRE</a></li>
        <li class="breadcrumb-item active"><a>Update Meta</a></li>


    </ol>

</section>

<br />
<a href="~/Admin/Meta-HRE/MetaList">"Meta List</a>
<br />
<section class="content">
    <div class="row">

        <div class="col-md-9">
            @Html.Partial("~/Areas/Admin/Views/Shared/MessageForm.cshtml")
            <div class="box box-primary">

                @using (Html.BeginForm("UpdateMata_HRE", "HRE", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {

                    @Html.Partial("Partial/MetaForm")

                }
            </div>

        </div>

    </div>



